<nav id="navbar">
    <a href="/home"><img id="nav_img" src="img/Nederlandse_Spoorwegen_logo.svg.png"
            alt="Logo Nederlandse Spoorwegen">Reisplanner</a>
    <div class="checkbox_wrapper">
        <input type="checkbox" class="checkbox" id="chk" onclick="playAudio()"/>
        <label id="label" for="chk">
            <i class="fas fa-sun"></i>
            <i class="fas fa-skull-crossbones"></i>
            <div id="ball"></div>
        </label>
    </div>
</nav>